In [1]:
import pandas as pd

In [2]:
private = pd.read_csv("data/private.csv")

In [3]:
private.describe()

         Unnamed: 0
count   1926.000000
mean    6163.399273
std     7182.646393
min        1.000000
25%     1602.250000
50%     3250.000000
75%     6637.750000
max    27539.000000

In [4]:
private.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1926 entries, 0 to 1925
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1926 non-null   int64
 1   file        1926 non-null   object
 2   status      1926 non-null   object
dtypes: int64(1), object(2)
memory usage: 45.3+ KB

In [5]:
private.head()

   Unnamed: 0                                      file   status
0           1  00039425-7f3a-42aa-ac13-834aaa2b6b92.wav  healthy
1           3  0009eb28-d8be-4dc1-92bb-907e53bc5c7a.wav  healthy
2           5  001328dc-ea5d-4847-9ccf-c5aa2a3f2d0f.wav  healthy
3          10  0028b68c-aca4-4f4f-bb1d-cb4ed5bbd952.wav  healthy
4          11  00291cce-36a0-4a29-9e2d-c1d96ca17242.wav  healthy

In [8]:
private.drop("Unnamed: 0", axis=1, inplace=True)

In [9]:
private.head()

                                       file   status
0  00039425-7f3a-42aa-ac13-834aaa2b6b92.wav  healthy
1  0009eb28-d8be-4dc1-92bb-907e53bc5c7a.wav  healthy
2  001328dc-ea5d-4847-9ccf-c5aa2a3f2d0f.wav  healthy
3  0028b68c-aca4-4f4f-bb1d-cb4ed5bbd952.wav  healthy
4  00291cce-36a0-4a29-9e2d-c1d96ca17242.wav  healthy

In [10]:
private.status.value_counts()

healthy     1284
COVID-19     642
Name: status, dtype: int64

In [11]:
private.to_csv("data/private.csv", index=False)

In [4]:
train = pd.read_csv("data/train.csv")

In [7]:
train.label.value_counts()

0    3399
1     669
Name: label, dtype: int64